<div class="full-width space-between-center flex margin-top-10px">
    <div class="flex gap-1em text-center margin-left-10px">
        <div>
            <span class="material-symbols-outlined pointer" (click)="goBack()">
                arrow_back
            </span>
        </div>
        <div>
            <p class="no-margin">Airtime & Bundles</p>
        </div>
    </div>
    <div class="flex gap-1em text-center margin-right-10px">
        <div>
            <span class="material-symbols-outlined pointer" (click)="goBack()">
                close
            </span>
        </div>
    </div>
</div>
<p class="primary margin-left-10px">For Me</p>
<div class="flex space-between-center margin-left-10px margin-right-10px">
    <div class="p">Kgothatso Theko</div>
    <div class="center-center">
        <button mat-flat-button class="amount">0614227501</button>
    </div>
</div><br>
<mat-divider></mat-divider>
<p class="primary margin-left-10px">For Me</p>
<div class="flex space-between-center margin-left-10px margin-right-10px">
    <div class="p">Buy for someone else</div>
    <div class="center-center">
        <button mat-flat-button class="amount">Buy</button>
    </div>
</div><br>
<mat-divider></mat-divider>
<p class=" no-margin primary margin-left-10px">Last purchased</p>


