<div class="full-width space-between-center flex margin-top-10px">
    <div class="flex gap-1em text-center margin-left-10px">
        <div>
            <span class="material-symbols-outlined pointer" (click)="goBack()">
                arrow_back
            </span>
        </div>
        <div>
            <p class="no-margin">Accounts</p>
        </div>
    </div>
    <div class="flex gap-1em text-center margin-right-10px">
        <div>
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
        <div>
            <span class="material-symbols-outlined" (click)="goBack()">
                close
            </span>
        </div>
    </div>
</div>
<div class="full-width">
    <mat-tab-group>
        <mat-tab label="Transaction History" class="primary">
            <p class="no-margin primary margin-left-10px">Previous 7 days</p>
        </mat-tab>
        <mat-tab label="Account Options" class="primary">

        </mat-tab>
      </mat-tab-group>
</div>
