<div class="full-width space-between-center flex">
    <div>
        <h4 class="text-center margin-left-10px">
            FNB
        </h4>
    </div>
    <div class="flex gap-1em">
        <div>
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
        <div class="margin-right-10px">
            <span class="material-symbols-outlined">
                qr_code
            </span>
        </div>
    </div>
</div>
<mat-card class="padding-10px margin-left-10px margin-right-10px border-radius-10px">
    <div class="flex space-between-center">
        <div class="details">
        <h4 class="no-margin">Easy Zero</h4>
        <p class="no-margin">63022441248</p>
        </div>
        <div>
            <button mat-flat-button class="amount">R800</button>
        </div>
    </div><br>
    <mat-divider></mat-divider><br>
    <div class="center-center flex gap-1em">
        <mat-card class="card border-radius-10px">
            <span class="material-symbols-outlined">
                credit_card
            </span>
        </mat-card>
        <mat-card class="card border-radius-10px">
            <span class="material-symbols-outlined">
                description
            </span>
        </mat-card>
        <mat-card class="card border-radius-10px">
            <span class="material-symbols-outlined">
            more_horiz
            </span>
        </mat-card>
    </div>
</mat-card><br>
<div class="center-center flex">

      <mat-card class="contents full-width card-slider">
        <div class="slider">
            <div class="slides gap-1em">
              <!-- Your slider content goes here -->
              <div>
                <img src="../../../assets/light.webp" alt="Slide 1">
                <div class="author-info padding-5px">
                    <strong>Savings Account</strong>
                    <p class="no-margin">Light up your world and Buy electricity on the App!</p>
                    <div class="end-center flex">
                        <button mat-flat-button color="primary">Apply</button>
                    </div>
                </div>
              </div>
              <div>
                <img src="../../../assets/light.webp" alt="Slide 2">
                <div class="author-info padding-5px">
                    <strong>Prepaid Electricity</strong>
                    <p class="no-margin">Light up your world and Buy electricity on the App!</p>
                    <div class="end-center flex">
                        <button mat-flat-button color="primary">Apply</button>
                    </div>
    
                </div>
              </div>
              <div>
                <img src="../../../assets/couple.jpg" alt="Slide 3">
                <div class="author-info padding-5px">
                    <strong>Prepaid Electricity</strong>
                    <p class="no-margin">Light up your world and Buy electricity on the App!</p>
                    <div class="end-center flex">
                        <button mat-flat-button color="primary">Apply</button>
                    </div>
                </div>
              </div>
              <div>
                <img src="../../../assets/couple.jpg" alt="Slide 4">
                <div class="author-info padding-5px">
                    <strong>Prepaid Electricity</strong>
                    <p class="no-margin">Light up your world and Buy electricity on the App!</p>
                    <div class="end-center flex">
                        <button mat-flat-button color="primary">Apply</button>
                    </div>
                </div>
              </div>
              <div>
                <img src="../../../assets/happy-woman-using-mobile.jpg" alt="Slide 5">
                <div class="author-info padding-5px">
                    <strong>Prepaid Electricity</strong>
                    <p class="no-margin">Light up your world and Buy electricity on the App!</p>
                    <div class="end-center flex">
                        <button mat-flat-button color="primary">Apply</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </mat-card>
</div>
<h3 class="margin-left-10px">
    Buy
</h3>
<div class="center-center flex gap-1em">
    <div class="flex column text-center">
        <mat-card class="card border-radius-10px">
            <span class="material-symbols-outlined">
                phone_android
                </span>
        </mat-card>
        <p class="text-center no-margin">Airtime+ <br>
        </p>
    </div>
    <div class="flex column text-center">
        <mat-card class="card border-radius-10px">
            <span class="material-symbols-outlined">
                lightbulb
                </span>
        </mat-card>
        <p class="no-margin">Electricity</p>
    </div>
    <div class="flex column text-center">
        <mat-card class="card border-radius-10px">
            <span class="material-symbols-outlined">
            casino
            </span>
        </mat-card>
        <p class="no-margin">Lotto</p>
    </div>
    <div class="flex column text-center">
        <mat-card class="card border-radius-10px">
            <span class="material-symbols-outlined">
            more_vert
            </span>
        </mat-card>
        <p class="no-margin">More</p>
    </div>
    
    
    
</div><br>
<mat-card class="padding-10px margin-left-10px margin-right-10px border-radius-10px">
    <div class="flex space-between-center">
        <div class="details">
        <p class="no-margin"><strong>Rewards</strong></p>
        <p class="no-margin">Just for you</p>
        </div>
        <div>
            <button mat-flat-button class="view">View</button>
        </div>
    </div>
</mat-card>
<h3 class="margin-left-10px">
    Banking
</h3>
<div class="center-center flex gap-1em">
    <div class="flex column text-center">
        <mat-card class="card border-radius-10px">
            <span class="material-symbols-outlined">
                account_balance_wallet
                </span>
        </mat-card>
        <p class="text-center no-margin">Pay
        </p>
    </div>
    <div class="flex column text-center">
        <mat-card class="card border-radius-10px">
            <span class="material-symbols-outlined">
                bolt
                </span>
        </mat-card>
        <p class="no-margin">Transfer</p>
    </div>
    <div class="flex column text-center">
        <mat-card class="card border-radius-10px">
            <span class="material-symbols-outlined">
            compare_arrows
            </span>
        </mat-card>
        <p class="no-margin">Once-off</p>
    </div>
    <div class="flex column text-center">
        <mat-card class="card border-radius-10px">
            <span class="material-symbols-outlined">
            soap
            </span>
        </mat-card>
        <p class="no-margin">eWallet</p>
    </div>    
</div>

